Source: gamabhana-fonts
Maintainer: Shantanu Oak <shantanu.oak@gmail.com>
Section: utils
Standards-Version: 4.4.0
Build-depends: debhelper (>=9.0)
Homepage: https://github.com/shantanuo/gamabhana-fonts
Priority: optional

Package: gamabhana-fonts
Architecture: all
Section: utils
Description: Devanagari fonts
